body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-form input {
    flex: 1;
    padding: 8px;
}

.task-form button {
    padding: 8px 12px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.filters input {
    flex: 1;
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f1f1f1;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: #28a745;

}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.edit {
    background: #0000FF;
    color: white;
}

.delete {
    background: #dc3545;
    color: white;
}
